#first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-webkit-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-ms-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

@-o-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }
}

* {
    box-sizing: border-box
}

body {
    color: #768390;
    background: #FFF;
    font-family: "Effra", Helvetica, sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3D4351;
    margin-top: 0;
}

a {
    color: #FF6B6B;
}

a:hover {
    color: #ff9a9a;
    text-decoration: none;
}

.example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
}

.example-header h1 {
    color: #FFF;
    font-weight: 300;
    margin-bottom: 20px;
}

.example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.container-fluid .row {
    padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
    background: #F1F4F5;
}

.example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
}

.example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 500px;
    padding: 10px;
    background-color: beige;
    color: black;
}


/*==================================
    TIMELINE
==================================*/


/*-- GENERAL STYLES
------------------------------*/

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
    line-height: inherit;
}


/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}


/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: #e39797;
}


/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
}


/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
}

.timeline-content p:last-child {
    margin-bottom: 0;
    color: #646464;
    padding: 15px;
    /*    height: 180px;*/
    display: inline-block;
    background-color: #ff6363;
    color: white;
    border-radius: 5px;
}

.timeline-content p:last-child:hover {
    margin-bottom: 0;
    background-color: #ffa3a3;
    color: #ffffff;
    /*    background-color: #fafafa;*/
}


/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 45px 0 70px;
}

.period .timeline-title {
    margin: 0;
}


/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/

@media (min-width: 768px) {
    .timeline-split .timeline,
    .timeline-centered .timeline {
        display: table;
    }
    .timeline-split .timeline-item,
    .timeline-centered .timeline-item {
        display: table-row;
        padding: 0;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker {
        position: relative;
    }
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content {
        padding-left: 30px;
    }
    .timeline-split .timeline-info,
    .timeline-centered .timeline-info {
        padding-right: 30px;
    }
    .timeline-split .period .timeline-title,
    .timeline-centered .period .timeline-title {
        position: relative;
        left: -45px;
    }
}


/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/

@media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .timeline-centered .timeline-item {
        padding-bottom: 40px;
        overflow: hidden;
    }
    .timeline-centered .timeline-marker {
        position: absolute;
        left: 50%;
        margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
        width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
        float: right;
        text-align: left;
        padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
        float: left;
        text-align: right;
        padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
        float: none;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .timeline-centered .timeline-item.period {
        padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
        height: 30px;
        bottom: 0;
        top: auto;
    }
    .timeline-centered .period .timeline-title {
        left: auto;
    }
}


/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/

.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}

html,
body {
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /*    overflow-y: scroll;*/
    margin: 0px;
}

html {
        overflow-y: hidden;

}


@font-face {
    font-family: LemonMilk;
    src: url('LemonMilk.otf');
}

#navB {
    border: none;
    box-shadow: none;
}

.infoPanel {
    margin-top: 200px;
    width: 50%;
    height: 800px;
    /*    background-color: #f0f0f0;*/
    background-color: #393939;
    color: black;
    align-content: center;
    box-shadow: 10px 10px 30px rgba(29, 29, 29, 0.57);
}

#enterButton {
    margin-top: 25px;
    width: 100px;
}

.terminal {
    width: 850px;
    height: 400px;
    margin-right: 60px;
    margin-top: 25px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    padding-left: 16px;
}

#terminal_ls {
    color: white;
    font-family: monospace;
    font-size: 14px;
}

#fileList {
    color: white;
    font-family: monospace;
    font-size: 14px;
    display: inline;
}

.terminal p {
    color: white;
    font-family: monospace;
    font-size: 14px;
}

.terminal .p .termText {
    color: red;
}

#username1,
#username2,
#username3,
#username4,
#username5,
#intro_script,
#name_card,
#name_card_answer,
#university_card,
#university_card_answer,
#major_card,
#major_card_answer,
#graduation_card,
#graduation_card_answer,
#cat_command1,
#cat_card_answer1,
#cat_command2,
#cat_card_answer2 {
    color: white;
    font-family: monospace;
    font-size: 14px;
    display: inline;
}

username {
    color: white;
    font-family: monospace;
}

.line {
    height: 15px;
    width: 100%;
    margin-top: -130px;
    background-color: #f0f0f0;
    z-index: -999;
}

.profilePhoto {
    margin-top: 25px;
    height: 190px;
    width: 190px;
    background-image: url(Resources/profile.png);
    background-repeat: no-repeat;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(51, 40, 40, 0.37);
    border: 4px solid white;
}

.skillsSection {
    padding: 10px;
    width: 400px;
    height: 240px;
    padding: 20px;
    width: 100%;
}

.skillsTitle {
    margin-top: 15px;
    margin-bottom: 8px;
    visibility: hidden;
}

txt {
    color: #2a2727;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: -200x;
}

.name {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

#userCardInfo {
    margin-top: 25px;
    text-align: left;
    padding-left: 30px;
    background-color: white;
    padding-top: 25px;
    height: 390px;
    width: 100%;
}

#userCardInfo .row {
    height: 1px;
    margin: 0px;
    padding-bottom: 25px;
    background-color: white;
    border-bottom: solid 2px #eee;
}

.col {
    display: inline-flex;
    margin-bottom: 10px;
}

.checkmark {
    margin-right: 10px;
}

.skillsTable {
    /*    background-color: #ff5800;*/
    /*        background-color: #5c5958;*/
    /*    background-color: #e6e4e4;*/
    padding: 20px;
    padding-top: 0px;
    border-radius: 1px;
    width: 60%;
    color: #1f1e1e;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.skillsTable tr {}

.skillsTable td {
    margin-top: 10px;
    padding: 10px;
    /*    background-color: #f8f4f4;*/
}

.container-fluid .jumbotron {
    height: 1050px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.container-fluid .bioPanel {
    height: 1250px;
    width: inherit;
    border-radius: 0px;
    margin-bottom: 0px;
    width: 100%;
}

#timeline-container {
    /*    background-image: url(https://static.pexels.com/photos/423086/pexels-photo-423086.jpeg);*/
    /*    background-image: url(https://static.pexels.com/photos/103567/pexels-photo-103567.jpeg);*/
    /*    background-image: url(https://static.pexels.com/photos/506355/pexels-photo-506355.jpeg);*/
    /*    background-image: url(https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg);*/
    /*    background: linear-gradient(to bottom, #a90329 0%, #8f0222 60%, #6d0019 97%);*/
    background: linear-gradient(to bottom, #7f2d2d 0%, #6c2626 44%, #531b1b 100%);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 1650px;
}

#journey_container {
    width: 50%;
    height: 1650px;
    margin-left: auto;
    margin-right: auto;
}

#journey-background {
    background-color: #ed5a5a;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 150px;
}

#journeyText {
    color: white;
    margin: auto;
}

#journeyWelcome {
    background-color: #ed5a5a;
    color: white;
    margin: auto;
}


/*
#journey_container {
    width: 100%;
    height:212px;
    width: 50%;
  margin: 0 auto;
}
*/

#timeline-background {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

#timelineObj {
    padding: 40px;
}

#bioTitle {
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin-bottom: 85px;
    background-color: #dedcdc;
}

.bioPanel {
    /*    background-color: #0e8a9b;*/
    /*background-image:url(https://static.pexels.com/photos/481690/pexels-photo-481690.jpeg);*/
    /*    background-image: url(https://static.pexels.com/photos/419784/pexels-photo-419784.jpeg);*/
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    align-items: center;
    /*    padding-top: 70px;
    */
    animation-duration: width: 100%;
    /*    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);*/
    background-color: #EEEEEE;
}

.user {
    width: 40%;
    height: 700px;
    /*    background-color: #ed5a5a;*/
/*    background-color: #ed5a5a;*/
    background-color: #7a8799;
    display: block;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 10px 10px 50px #b5aaaa;
    margin-left: 50px;
}

.userCard {
    width: 50%;
    height: 700px;
    background-color: #ffffff;
    display: block;
    padding: 20px;
    box-shadow: 10px 10px 50px #b5aaaa;
    float: right;
    margin-right: 50px;
    margin-top: -700px;
    padding-top: 70px;
}

.photoGallery {
    margin-top: 125px;
    width: 95%;
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    /*    background-color: #ffffff;*/
/*    background-color: #a73e3e;*/
    background-color: #7a8799;
    padding-top: 1%;
/*    box-shadow: 10px 10px 50px #b5aaaa;*/

}

.imageContainer {
    display: inline-block;
    display: flex;
    width: 100%;
    height: 90%;
    background-color: white;
    overflow: hidden;
    /*    overflow-x: auto*/
}

.galleryImages {
    width: 10%;
    height: 100%;
    margin-right: -5px;
    padding: 0px;
    /*
    height: 233px;
    width: 350px;
*/
}

#experienceTitle {
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    background-color: #dedcdc;
}

#experience-sub-title {
    /*    background-color: #EEEEEE;*/
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    color: #1d1d1d;
    /*    background-color: #dedcdc;*/
}

#experience-container {
    width: 100%;
    height: 1500px;
    padding-left: 0px;
    padding-right: 0px;
/*    background-color: #6f4f57;*/
    background-color: #7a8799;
}

.job-experience {
    width: 40%;
    height: 990px;
    /*    background-color: #ed5a5a;*/
    /*    background-color: #ed5a5a;*/
    /*    background-color: #895d5d;*/
    background-color: white;
    display: block;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 110px;
    margin-top: 120px;
    padding: 40px;
    color: black;
/*        box-shadow: 10px 10px 50px #b5aaaa;*/
        box-shadow: 10px 10px 0px #b5aaaa;


}



.experience-shape {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    /*    background-color: white;*/
    background-color: #7b5a62;
    margin-top: 110px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.jobTitle {
    font-weight: bold;
}

.company {
    font-family: 'Roboto', sans-serif;
}

.date {
    font-size: 14px;
    /*    color: #5d5d5d;*/
    color: #5d5d5d;
    /*    color: #030c3e;*/
}

.location {
    color: #5d5d5d;
    /*
    color: #d3d3d3;
    color: #030c3e;
*/
}

.summary {
    margin-top: 10px;
    padding-left: 0px;
}

.job {
    border-bottom: 1px solid #968e8e;
    padding: 20px;
    display: inline-flex;
    padding-top: 40px;
}

.job:last-child {
    border-bottom: none;
}

.job:hover {
/*    background-color: #f8ffa3;*/
        background-color: #dedede;
    border-radius: 5px;


}

.job:hover .languages {
background-color: #f7f7f7;
}

.job_logo {
    width: 100px;
    height: 80px;
    /*    background-color: #d8d8d8;*/
    margin-right: 30px;
    border-radius: 5px;
}

#hackmerced-logo {
    /*    background-color: white;*/
    background-image: url(Resources/hackmerced-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0px;
}

#tedx-logo {
    /*    background-color: white;*/
    background-image: url(Resources/tedx-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0px;
}

#QProject-logo {
    background-color: white;
    background-image: url(Resources/tedx-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0px;
}


.languages {
    color: #004c74;
    padding: 8px;
/*    background-color: #efefef;*/
        background-color: #eae8e8;

    display: inline-block;
    border-radius: 5px;
    margin-top: 7px;
}

.project-experience {
    width: 50%;
    height: 990px;
/*    background-color: #ffffff;*/
    display: block;
    padding: 20px;
/*    box-shadow: 10px 10px 50px #b5aaaa;
    */    float: right;
    margin-right: 50px;
    margin-top: -990px;
    padding-top: 70px;
        padding: 40px;
    padding-top: 0px;

}

.project {
    display: inline-block;
    margin: 20px;
    margin-bottom: 45px;
 margin-top: 0px;
/*    box-shadow: 10px 10px 50px #b5aaaa;*/
        box-shadow: 10px 10px 25px rgba(181, 170, 170, 0.5);


}

.project-image {
    height: 200px;
    width: 350px;
    background-color: #b6ccff;
}

#project-summary {
    background-color: white;
    width: 350px;
    height: 100px;
    display:inline-block;
    padding: 0px;
}

.project-title {
    width: 100%;
    height: 50%;
/*    font-family: 'Fjalla One', sans-serif;*/
        font-family: 'Roboto', sans-serif;
/*        font-family: 'Fjalla One', sans-serif;*/

        font-weight: 400;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    padding-top: 20px;
    color: black;

}


.project-language {
/*     width: 100%;*/
/*    font-family: 'Fjalla One', sans-serif;*/
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #0c6b72;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}

.language-container {
height: 50%;
        display: flex;

}

.language-list {
    display: inline-block;
    list-style: none;
    height: 100%;
    padding: 0px;
     margin-left: auto;
    margin-right: auto;

}

.language-list li {
    padding: 5px;
    margin: 5px;
    background-color: #ebebeb;
    color: black;
/*    border-radius: 5px;*/
        border-radius: 4px;

    border: 1px solid #bfbfbf;
        display: inline-block;


}

.language-list li:hover {
    background-color: #d3ada8;
}

#first-project, #second-project {
    margin-top: 0px;
}

.project-image{
/*    background-image: url(Resources/pattern10.png);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.project:hover .project-image{
    background-image: none;
        background-color: rgba(111, 97, 88, 0.98);
    background-color: rgba(111, 97, 88, 0.98);
    background-blend-mode:lighten;
    cursor:pointer;
}

/*
.project:hover #project-summary{
            background-color: #d5e2f4;

}
*/


#first-project  .project-image{
    background-image: url(https://raw.githubusercontent.com/ringmaj/Recursive-Tree-Analysis-Tool/master/program_image.PNG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#second-project  .project-image{
    background-image:url(Resources/project_photos/parking.webm);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#fifth-project  .project-image{
    background-image: url(Resources/project_photos/GRE-App.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sixth-project  .project-image{
    background-image: url(Resources/project_photos/rna-seq.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#proj2-vid, #proj4-vid,  #proj3-vid {
width: 100%;
    height: 100%;
}

#proj4-vid {
background-color: #ff8000;
}


.jumbotron {
    border-radius: 0px;
    background-image: url(https://static.pexels.com/photos/481690/pexels-photo-481690.jpeg);
    /*    background-repeat: repeat-y;*/
    height: 100%;
    padding: 20px;
    /*    background-color: rgba(111, 97, 88, 0.98); */
    /*        background-color: rgba(111, 97, 88, 0.98); */
    /*  background-blend-mode:lighten*/
    border-radius: 0px;
}

.button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 3px;
    font-family: LemonMilk;
    font-size: 10px;
    background: #ffffff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    top: 90%;
}

.button:hover {
    background: #cccccc;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.container .button {
    color: black;
    font-size: 15px;
}


/*
#timelineObj p {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}
*/

.timeline-title {}

@media only screen and (max-width: 768px) {
    .infoPanel {
        width: 95%;
        height: 770px;
    }
    .container-fluid .jumbotron {
        height: 950px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    button.navbar-toggle.collapsed {
        border: none;
    }
    .navbar-header {
        height: 10px;
    }
    navbar.navbar-defailt.navbar-fixed-top {}
    #username1,
    #username2,
    #username3,
    #username4,
    #username5,
    #intro_script,
    #name_card,
    #name_card_answer,
    #university_card,
    #university_card_answer,
    #major_card,
    #major_card_answer,
    #graduation_card,
    #graduation_card_answer,
    #cat_command1,
    #cat_card_answer1,
    #cat_command2,
    #cat_card_answer2 {
        color: white;
        font-family: monospace;
        font-size: 10px;
        display: inline;
    }
    #terminal_ls {
        color: white;
        font-family: monospace;
        font-size: 10px;
    }
    #fileList {
        color: white;
        font-family: monospace;
        font-size: 10px;
        display: inline;
    }
    .profilePhoto {
        height: 190px;
        width: 190px;
        background-image: url(Resources/profile.png);
        background-repeat: no-repeat;
        border-radius: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .userCard {
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    .bioPanel {
        padding-top: 0px;
    }
    #userCardInfo {
        margin-top: 25px;
        text-align: left;
        padding-left: 30px;
    }
    #timeline-container {
        background-image: none;
    }
    #timeline-background {
        background-color: white;
        padding-left: 5px;
        padding-right: 5px;
    }
    .bioPanel {
        border-bottom: 2px solid #968b8b;
    }
    #userCardInfo {
        margin-top: 25px;
        text-align: left;
        padding-left: 30px;
    }
    .container-fluid .bioPanel {
        height: 2000px;
        width: inherit;
        border-radius: 0px;
        margin-bottom: 0px;
        width: 100%;
        padding-top: 10%;
    }
    .user {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .userCard {
        margin-top: 5%;
        width: 90%;
        margin-right: 5%;
    }
}

@media (max-width: @screen-xs) {
    .infoPanel {
        width: 90%;
    }
}

@media (max-width: @screen-sm) {
    .infoPanel {
        width: 90%;
    }
}
